.staff-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 15px;
  .staff-p {
    color: #303972;
    font-size: large;
    font-weight: bold;
  }
}
.staff-href {
  color: black;
}
.ant-layout-sider-children {
  background-color: #42bc81;
}

.layout-staff {
  height: 100vh;
  width: 100vw;
}
.layout-content {
  overflow: auto;
}
