.staff-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0px 15px;
}
.staff-href {
  color: black;
}
.ant-layout-sider-children {
  background-color: #42bc81;
}

.layout-staff {
  height: 100vh;
  width: 100vw;
  .layout-content {
    overflow-x: hidden;
    margin: 5px 16px;
  }
}
